dialog {
  width: 800px;
  height: 450px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 455px;
  margin: auto;
  transform: translate(0%, 0%);
  border: 1px solid var(--gray900);
  border-radius: 5px;
  background-color: var(--gray900);
  padding: 32px 24px;
}

.header_modal{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.main_modal{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title_modal{
  background-color: var(--gray800);
  border: 1px solid var(--gray500);
  border-radius: 4px ;
  padding: 10px 15px;
}

.description_modal{
  background-color: var(--gray800);
  border: 1px solid var(--gray500);
  border-radius: 4px ;
  padding: 0 0 60px 15px;
  height: 100px;
}

input:focus{
  outline: 1px solid var(--gray100);
}

.container_buttons{
  margin-top: 60px;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}