.description_high{
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 500;
  color: var(--gray100);
}

.description_medium{
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;
  color: var(--brand100);
}

.title_high{
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 600;
  color: var(--gray100);
}

.title_medium{
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 550;
  color: var(--gray100);
}

.description{
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--gray300);
}

.text_alert{
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 600;
  color: var(--sucess100);
}

.text_description{
  font-size: 0.875rem;
  line-height: 1.313rem;
  font-weight: 400;
  color: var(--gray200);
}